body {
  background-color: #7EB1C2;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Yellowtail', cursive;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

div {
  max-width: 750px;
  margin:auto;
}

ul {
  text-align: left;
}
