body {
  background-color: #7EB1C2;
  text-align: center;
  color: #C4065F;
  font-family: 'Coming Soon', cursive;
}

h1, h2, h3 {
  font-family: 'Yellowtail', cursive;
  color: #FA0577;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

div {
  max-width: 750px;
  margin:auto;
}

ul {
  text-align: left;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  color: #C4065F;
}

.baby {
  border-radius: 10%;
  padding: 20px;
}

#readingdragon {
  border-radius: 50%;
}

#dragontales {
  border-radius: 10%;
}
